* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #f00;
    padding: 19.9999999999px 0;
    text-align: center;
}
.content {
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
}
.content_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_element {
    flex-basis: 33%;
    background-color: #e5d076;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
}
.footer {
    background-color: #a465ff;
    padding: 10px 0;
    text-align: center;
}


@media all and (max-width: 880px) {
    .content_element {
        flex-basis: 48%;
    }
}
@media (max-width: 880px) {
    .content_element {
        flex-basis: 48%;
    }
}
@media print {
    .content_element {
        flex-basis: 100%;
        font-size: 30px;
    }
}
@media screen {
    .content_element {
        background-color: #0ff;
    }
}
@media not all and (max-width: 480px) and (max-width: 880px) {
    .header {
        background-color: #ff00c3;
    }
}
@media print, (max-width: 880px) {
    .footer {
        font-size: 40px;
    }
}
@media (aspect-ratio: 1/1), (min-aspect-ratio: 16/10) {
    .container {
        background-color: #000;
    }
}
@media (orientation: landscape) {
    .content_element {
        color: #f00;
    }
}
@media (hover: none) {
    .content_element {
        background-color: #0f0;
    }
}
@media (pointer: fine) {
    .header {
        color: #ff0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .content_element {
        font-size: 30px;
    }
}